extends layout

block content
  //h5=title
  .table-responsive
    table.table.table-striped.table-hover.table-bordered.table-margin
      thead
        //tr
        th #
        th Companies
        th Publisher
        th Created At
        th Status
      tbody
        - var count = 0
        each company in list_companys
          tr
            td(class='count_width') #{++count}
            td(class='main_width')
              a(href=company.url) #{company.company_name}
            td #{company.publisher}
            td #{company.created_at_yyyy_mm_dd}
            td
              if company.status == 'Not Finished'
                span.text-danger #{company.status}
              if company.status == "Finished"
                span.text-success #{company.status}




