extends layout

block content
    h1 #{company.company_name}

    if company_titan.length
        p You must delete the following Titans before you can delete this company.
        .table-responsive
            table.table.table-striped.table-hover.table-bordered.table-margin
                thead
                    tr
                        th #
                        th Titan
                        th
                tbody
                    - var count = 0
                    each val in company_titan
                        tr
                            td(class='count_width') #{++count}
                            td(class='main_width')
                                a(href=val.url) #{val.titan_name}
                            td #{val.created_at_yyyy_mm_dd}
                    else
                        p This company has no titans.
    else
        p Do you really want to delete this Company?

        form(method='POST' action='')
            div.form-group
                input#companyid.form-control(type='hidden',name='companyid', required='true', value=company._id )

            button.btn.btn-danger(type='submit') Delete







