extends layout

block content
    h1 #{company.company_name}
    h4(class='text-success') #{company._id}
    h4
        u Company Information
    p #[strong Firm: ]
        a(href=company.firm.url) #{company.firm.firm_name}
    p #[strong Investment date:] #{company.investment_date}
        - var leadership = company.leadership_page_url;
    p #[strong Leadership Page URL: ]
        a(href=leadership, target='_blank')  #{company.leadership_page_url}
        - var titanhouse = company.titanhouse_url
    p #[strong Titanhouse URL:]
        a(href=titanhouse, target='_blank')  #{company.titanhouse_url}
    p #[strong Created At:]  #{company.createdAt}

    p #[strong Status:]
        if company.status == 'Not Finished'
            span.text-danger #{company.status}
        else if company.status == 'Finished'
            span.text-success #{company.status}



    .table-responsive
        table.table.table-striped.table-hover.table-bordered.table-margin
            thead
                tr
                    th #
                    th Titan
                    th
            tbody
                - var count = 0
                each val in company_titan
                    tr
                        td(class='count_width') #{++count}
                        td(class='main_width')
                            a(href=val.url) #{val.titan_name}
                        td #{val.createdAt}
                else
                    p This company has no titans.
    hr
    p
        a(class='btn btn-success btn-spacing')(href='/data/titan/add') Add Titan

        a(class='btn btn-warning btn-spacing')(href=company.url+'/update') Update firm

        a(class='btn btn-danger')(href=company.url+'/delete') Delete Company








