extends layout

block content
  //h1= title

  form(class='form-style')(method='POST' action='')
    div.form-group
      label(for='company_name') Portfolio Company:
      input#company_name.form-control(type='text', placeholder='' name='company_name' required='true' value=(undefined===company ? '' : company.company_name) )
    div.form-group
      label(for='investment_date') Investment date:
      input#investment_date.form-control(type='date', name='investment_date' value=(undefined === company ? '' : company.investment_date_yyyy_mm_dd) )
    div.form-group
      label(for='leadership_page_url') Leadership Page URL:
      input#leadership_page_url.form-control(type='text', placeholder='' name='leadership_page_url' value=(undefined === company ? '' : company.leadership_page_url))
    div.form-group
      label(for='titanhouse_url') Titanhouse URL:
      input#titanhouse_url.form-control(type='text', placeholder='' name='titanhouse_url' value=(undefined === company ? '' : company.titanhouse_url) )
    div.form-group
        label(for='titanhouse_url') Firm Name:
        input#titanhouse_url.form-control(type='text', placeholder='Enter the name of the firm the ' name='titanhouse_url' value=(undefined === company ? '' : company.titanhouse_url) required='true')
    //div.form-group
    //  label(for='titan') Titan:
    //select#titan.form-control(type='select', placeholder='' name='titan' )
    //  for firm in firms
    //    if company
    //      option(value=firm._id selected=(firm._id.toString()==company.firm._id.toString() ? 'selected' : false) ) #{firm.firm_name}
    //  else
    //    option(value=firm._id) #{firm.firm_name}

    //div.form-group
    //  label Firm:
    //  div
    //    for firm in firms
    //      div(style='display: inline; padding-right:10px;')
    //        input.checkbox-input(type='checkbox', name='firm', id=firm._id, value=firm._id, checked=firm.checked )
    //        label(for=firm._id) #{firm.firm_name}
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg
