extends layout

block content

  h1 ID: #{companyinstance._id}
  
  p #[strong Title:] 
    a(href=companyinstance.company.url) #{companyinstance.company.title}
  p #[strong Imprint:] #{companyinstance.imprint}

  p #[strong Status:] 
    if companyinstance.status=='Available'
      span.text-success #{companyinstance.status}
    else if companyinstance.status=='Maintenance'
      span.text-danger #{companyinstance.status}
    else
      span.text-warning #{companyinstance.status}
      
  if companyinstance.status!='Available'
    p #[strong Due back:] #{companyinstance.due_back_formatted}

  hr
  p
    a(href=companyinstance.url+'/delete') Delete CompnayInstance
  p
    a(href=companyinstance.url+'/update') Update CompnayInstance