extends layout

block content
  h1 #{company.company_name}
  h4
    u Portfolio Company Information

  p #[strong Investment date:] #{company.investment_date}
  - var leadership_url = company.leadership_page_url
  p #[strong Leadership Page URL:]
    a(href=leadership_url, target='_blank')  #{company.leadership_page_url}
  - var th_url = company.titanhouse_url
  p #[strong Titanhouse URL:]
    a(href=th_url, target='_blank')  #{company.titanhouse_url}



    hr
    p
      a(class='btn btn-warning btn-spacing')(href=company.url + '/update') Update Company

      a(class='btn btn-danger btn-spacing')(href=company.url + '/delete') Delete Companyd