extends layout



block content

    h1 #{firm.firm_name}
    h4(class='text-success') #{firm._id}
    h4
      u Firm Information

    p #[strong Status: ]
      if firm.status == 'Not Finished'
          span.text-danger #{firm.status}
      else if firm.status == 'Finished'
          span.text-success #{firm.status}

    .table-responsive
        table.table.table-striped.table-hover.table-bordered.table-margin
            thead
                tr
                    th #
                    th Portfolio Company
                    th Status
                    th Created At
            tbody
                - var count = 0
                each val in firm_company
                    tr
                        td(class='count_width') #{++count}
                        td(class='main_width')
                            a(href=val.url) #{val.company_name}
                        td
                            if val.status == 'Not Finished'
                                span.text-danger #{val.status}
                            if val.status == "Finished"
                                span.text-success #{val.status}
                        td #{val.createdAt}
                else
                    p This firm has no company.

    hr
    p
        a(class='btn btn-success btn-spacing')(href='/data/company/add') Add Company

        a(class='btn btn-warning btn-spacing')(href=firm.url+'/update') Update firm

        a(class='btn btn-danger')(href=firm.url+'/delete') Delete firm