extends layout

block content
    h1 #{firm.firm_name}
    h4
      u Firm Information

    .table-responsive
        table.table.table-striped.table-hover.table-bordered.table-margin
            thead
                tr
                    th #
                    th Portfolio Company
                    th
            tbody
                - var count = 0
                each val in firm_company
                    tr
                        td(class='count_width') #{++count}
                        td(class='main_width')
                            a(href=val.url) #{val.company_name}
                        td
                else
                    p This firm has no company.


    hr
    p
        a(class='btn btn-success btn-spacing')(href='/data/company/add') Add Company

        a(class='btn btn-warning btn-spacing')(href=firm.url+'/update') Update firm

        a(class='btn btn-danger')(href=firm.url+'/delete') Delete firm