extends layout

block content
  h1= title
  p  Welcome to the research app for list builders and beyond.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else

    p The research app has the following record counts:

    ul
      li #[strong Compnays:] !{data.company_count}
      li #[strong Copies:] !{data.company_instance_count}
      li #[strong Copies available:] !{data.company_instance_available_count} 
      li #[strong Titans:] !{data.titan_count}
      li #[strong Firms:] !{data.firm_count}