extends layout

block content
  //h5=title
  .table-responsive
    table.table.table-striped.table-hover.table-bordered.table-margin
      thead
        //tr
        th #
        th Titan
        th Publisher
        th Created At
        th Assigned To
        th Profile Status
      tbody
        - var count = 0
        each titan in titan_lists
          tr
            td(class='count_width') #{++count}
            td(class='main_width')
              a(href=titan.url) #{titan.titan_name}
            td #{titan.publisher}
            td #{titan.created_at_yyyy_mm_dd}
            td
              if titan.freelancer == 'Not Assigned'
                span.text-danger #{titan.freelancer}
              else if titan.freelancer == 'Steve Friedman'
                span.text-success #{titan.freelancer}
              else if titan.freelancer == 'Hector Echavarria'
                span.text-info #{titan.freelancer}
            td
              if titan.profile_status == 'In Progress'
                span.text-warning #{titan.profile_status}
              else if titan.profile_status == 'Invalid'
                span.text-danger #{titan.profile_status}
              else if titan.profile_status == 'Complete'
                span.text-success #{titan.profile_status}
