extends layout

block content

  h1 #{titan.titan_name}
  h4
    u Titan Information

  p #[strong Firm: ]
    a(href=titan.company.firm.url) #{titan.company.firm.firm_name}
  p #[strong Company: ]
    a(href=titan.company.url) #{titan.company.company_name}
  p #[strong Investment Date:] #{titan.company.investment_date}
  - var leadership = titan.company.leadership_page_url
  p #[strong Leadership Page URL: ]
    a(href=leadership, target='_blank') #{titan.company.leadership_page_url}
  p #[strong Start Date:] #{titan.start_date_yyyy_mm_dd}
  - var bb_url = titan.bloomberg_url
  p #[strong Bloomberg URL:]
    a(href=bb_url, target='_blank')  #{titan.bloomberg_url}
  - var li_url = titan.linkedin_url
  p #[strong Linkedin URL:]
    a(href=li_url, target='_blank')  #{titan.linkedin_url}
  p #[strong Created At:] #{titan.created_at_yyyy_mm_dd}
  //p #{currentUser}

  p #[strong Assigned To: ]
    if titan.freelancer == 'Not Assigned'
        span.text-danger #{titan.freelancer}
    else if titan.freelancer == 'Steve Friedman'
        span.text-success #{titan.freelancer}
    else if titan.freelancer == 'Hector Echavarria'
        span.text-info #{titan.freelancer}

  p #[strong Profile Status: ]
    if titan.profile_status == 'In Progress'
        span.text-warning #{titan.profile_status}
    else if titan.profile_status == 'Invalid'
        span.text-danger #{titan.profile_status}
    else if titan.profile_status == 'Complete'
        span.text-success #{titan.profile_status}
    //eles if

  hr
  p
    a(class='btn btn-warning btn-spacing')(href=titan.url + '/update') Update Titan
  
    a(class='btn btn-danger btn-spacing')(href=titan.url + '/delete') Delete Titan
